<a href="https://colab.research.google.com/github/rishi-29-02/Basics-of-Financial-Market/blob/main/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Module 1

In Module 1, we are going to get familier with pandas, the python module which we use to process and analyze data. Processing could include removing unknown values from the data or replacing unknown values with the values which make sense, maybe 0. Analyzing the data could include finding out the trend of the stock price, e.g. how the stock prices changes with Nifty 50 Basket of stocks.

#1.1

Import the csv file of the Hindustan Unilever stock. Shares of a company can be offered in more than one category. The category of the stock is indicated in 'Series' column. If the csv file has data on more than one category, the 'Date' column will have repeating values. To avoid repititions in the date, remove all the rows where 'Series' column is NOT "EQ". Analuyze and understand each column properly. One can use head(), tail() for this.

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [51]:
#from google.colab import files
#uploaded = files.upload()

In [52]:
data = pd.read_csv('HINDUNILVR.csv')
data.head()

       Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0  HINDUNILVR     EQ  ...          420159                   57.21
1  HINDUNILVR     EQ  ...          669576                   44.53
2  HINDUNILVR     EQ  ...          996054                   49.82
3  HINDUNILVR     EQ  ...          983594                   36.55
4  HINDUNILVR     EQ  ...         1523108                   49.78

[5 rows x 15 columns]

In [53]:
data.shape

(495, 15)

Therfore the data contains 495 intances and 15 features.

In [54]:
data.describe(include='all')

            Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
count          495    495  ...    4.950000e+02              495.000000
unique           1      2  ...             NaN                     NaN
top     HINDUNILVR     EQ  ...             NaN                     NaN
freq           495    494  ...             NaN                     NaN
mean           NaN    NaN  ...    8.010867e+05               61.639313
std            NaN    NaN  ...    3.867355e+05               11.399872
min            NaN    NaN  ...    1.869800e+04               20.390000
25%            NaN    NaN  ...    5.274245e+05               55.020000
50%            NaN    NaN  ...    7.525270e+05               63.640000
75%            NaN    NaN  ...    9.602335e+05               69.405000
max            NaN    NaN  ...    3.019009e+06              100.000000

[11 rows x 15 columns]

The dataset has no missing values.
But the Series feature have two unique values.

Thus removing the NOT EQ values from the Series feature.

In [55]:
data.loc[data.Series != 'EQ']

         Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
461  HINDUNILVR     BL  ...          516930                   100.0

[1 rows x 15 columns]

In [56]:
data = data[data.Series=='EQ']

In [57]:
data.shape

(494, 15)

#1.2

Calculate the maximum, minimum and the mean price for the last 90 days. (price=closing price until stated otherwise)

Data for the last 90 days.

In [58]:
data_1 = data.tail(90)
data_1

         Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
404  HINDUNILVR     EQ  ...          412583                   54.50
405  HINDUNILVR     EQ  ...          438072                   54.26
406  HINDUNILVR     EQ  ...          993011                   62.11
407  HINDUNILVR     EQ  ...          680871                   57.57
408  HINDUNILVR     EQ  ...          862409                   59.31
..          ...    ...  ...             ...                     ...
490  HINDUNILVR     EQ  ...         1248858                   56.44
491  HINDUNILVR     EQ  ...          849935                   68.36
492  HINDUNILVR     EQ  ...          821111                   68.14
493  HINDUNILVR     EQ  ...          581135                   58.07
494  HINDUNILVR     EQ  ...          653294                   56.30

[90 rows x 15 columns]

Maximum Price

In [59]:
data_1['Close Price'].max()

1839.05

Minimum Price

In [60]:
data_1['Close Price'].min()

1659.1

Mean Price

In [61]:
data_1['Close Price'].mean()

1739.6955555555562

#1.3

Analyze the data types for each column in the dataframe. Pandas knows how to deal with dates in an intellegent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object type to 'datetime64(ns)' for future convinience. See what happens if we subtract minimum value of the date column from maximum value.

In [62]:
data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

As the date feature is of object and therefore changing it to 'datetime64(ns)'

In [63]:
data['Date'] = data.Date.astype('datetime64[ns]')
data.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

Subtracting the minimum value of the date column from maximum value.

In [64]:
data['Date'].max()-data['Date'].min()

Timedelta('728 days 00:00:00')

Thus we get the total no. of days contained in the dataset.

#1.4

In a seperate array calculate the monthwise VMAP (Volume Weighted Average Price).

In [65]:
data['Month'] = data['Date'].dt.month
data['Year'] = data['Date'].dt.year 
data['VWAP'] = (data['Close Price'] * data['Total Traded Quantity']).cumsum()/data['Total Traded Quantity'].cumsum()
data

         Symbol Series       Date  ...  Month  Year         VWAP
0    HINDUNILVR     EQ 2017-05-15  ...      5  2017   983.250000
1    HINDUNILVR     EQ 2017-05-16  ...      5  2017   994.772529
2    HINDUNILVR     EQ 2017-05-17  ...      5  2017  1001.673993
3    HINDUNILVR     EQ 2017-05-18  ...      5  2017   997.237115
4    HINDUNILVR     EQ 2017-05-19  ...      5  2017  1000.534181
..          ...    ...        ...  ...    ...   ...          ...
490  HINDUNILVR     EQ 2019-05-07  ...      5  2019  1493.746449
491  HINDUNILVR     EQ 2019-05-08  ...      5  2019  1494.119209
492  HINDUNILVR     EQ 2019-05-09  ...      5  2019  1494.506954
493  HINDUNILVR     EQ 2019-05-10  ...      5  2019  1494.802870
494  HINDUNILVR     EQ 2019-05-13  ...      5  2019  1495.170674

[494 rows x 18 columns]

In [66]:
data_vwap = data[['Month', 'Year', 'VWAP']]
data_vwap = data_vwap.groupby(['Year', 'Month']).last()
data_vwap

                   VWAP
Year Month
2017 5      1026.507250
     6      1064.193554
     7      1093.515359
     8      1111.726648
     9      1133.683360
     10     1148.894254
     11     1164.697379
     12     1181.581429
2018 1      1203.381283
     2      1216.778340
     3      1224.552043
     4      1236.222757
     5      1266.101871
     6      1293.225582
     7      1331.337593
     8      1355.107028
     9      1377.475388
     10     1390.695006
     11     1405.626994
     12     1434.666977
2019 1      1455.323871
     2      1470.446869
     3      1482.868547
     4      1491.664014
     5      1495.170674

#1.5

Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [67]:
def average_price(N):
  return data['Close Price'].tail(N).mean()

print('Average price in last 1 week is  : ', average_price(7))
print('Average price in last 2 week is  : ', average_price(14))
print('Average price in last 1 month is : ', average_price(30))
print('Average price in last 3 month is : ', average_price(90))
print('Average price in last 6 month is : ', average_price(180))
print('Average price in last 1 year is  : ', average_price(365))

Average price in last 1 week is  :  1691.6928571428573
Average price in last 2 week is  :  1717.2357142857143
Average price in last 1 month is :  1705.2833333333333
Average price in last 3 month is :  1739.6955555555562
Average price in last 6 month is :  1713.2538888888887
Average price in last 1 year is  :  1583.9738356164385

In [68]:
def p_l_per(N):
  diffrence = data['Close Price'].tail(N).iloc[N-1] - data['Close Price'].tail(N).iloc[0]
  if diffrence < 0:
    loss = -diffrence
    return loss/data['Close Price'].tail(N).iloc[N-1] *100
  elif diffrence > 0:
    profit = diffrence
    return profit/data['Close Price'].tail(N).iloc[N-1] *100
  else:
    return 0

print('Profit/Loss percentage in last 1 week is  : ', p_l_per(7))
print('Profit/Loss percentage in last 2 week is  : ', p_l_per(14))
print('Profit/Loss percentage in last 1 month is : ', p_l_per(30))
print('Profit/Loss percentage in last 3 month is : ', p_l_per(90))
print('Profit/Loss percentage in last 6 month is : ', p_l_per(180))
print('Profit/Loss percentage in last 1 year is  : ', p_l_per(365))

Profit/Loss percentage in last 1 week is  :  0.4964747356051731
Profit/Loss percentage in last 2 week is  :  2.2238542890716753
Profit/Loss percentage in last 1 month is :  1.2455934195064657
Profit/Loss percentage in last 3 month is :  6.91245593419507
Profit/Loss percentage in last 6 month is :  2.482373678025852
Profit/Loss percentage in last 1 year is  :  24.90305522914218

#1.6

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a â€˜Nanâ€™ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

The first entry is NaN as their is no previous day.

In [69]:
data['Day_Perc_Change'] = data['Close Price'].pct_change().fillna(0) * 100
data

         Symbol Series       Date  ...  Year         VWAP  Day_Perc_Change
0    HINDUNILVR     EQ 2017-05-15  ...  2017   983.250000         0.000000
1    HINDUNILVR     EQ 2017-05-16  ...  2017   994.772529         1.744216
2    HINDUNILVR     EQ 2017-05-17  ...  2017  1001.673993         0.899640
3    HINDUNILVR     EQ 2017-05-18  ...  2017   997.237115        -1.897167
4    HINDUNILVR     EQ 2017-05-19  ...  2017  1000.534181         1.792477
..          ...    ...        ...  ...   ...          ...              ...
490  HINDUNILVR     EQ 2019-05-07  ...  2019  1493.746449         1.713704
491  HINDUNILVR     EQ 2019-05-08  ...  2019  1494.119209        -0.518409
492  HINDUNILVR     EQ 2019-05-09  ...  2019  1494.506954         0.891218
493  HINDUNILVR     EQ 2019-05-10  ...  2019  1494.802870        -0.956713
494  HINDUNILVR     EQ 2019-05-13  ...  2019  1495.170674         0.862248

[494 rows x 19 columns]

#1.7

Add another column 'Trend' whose values are:Â 
'Slight or No change' for 'Day_Perc_Change' in between -0.005 and 0.0005Â 
'Slight positive' for 'Day_Perc_Change' in between 0.005 and 0.01
'Slight negative' for 'Day_Perc_Change' in between -0.005 and -0.01
'Positive' for 'Day_Perc_Change' in between 0.01 and 0.03
'Negative' for 'Day_Perc_Change' in between -0.01 and -0.03
'Among top gainers' for 'Day_Perc_Change' in between 0.03 and 0.07
'Among top losers' for 'Day_Perc_Change' in between -0.03 and -0.07
'Bull run' for 'Day_Perc_Change' >0.07
'Bear drop' for 'Day_Perc_Change' <-0.07

In [70]:
bins = [-np.inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, np.inf]
labels = ['Bear drop', 'Among top losers', 'Negative', 'Slight negative', 'Slight or No change',
          'Slight positive', 'Positive', 'Among top gainers', 'Bull run']
          
data['Trend'] = pd.cut(data['Day_Perc_Change'], bins=bins, labels=labels)
data

         Symbol Series  ... Day_Perc_Change                Trend
0    HINDUNILVR     EQ  ...        0.000000  Slight or No change
1    HINDUNILVR     EQ  ...        1.744216             Positive
2    HINDUNILVR     EQ  ...        0.899640      Slight positive
3    HINDUNILVR     EQ  ...       -1.897167             Negative
4    HINDUNILVR     EQ  ...        1.792477             Positive
..          ...    ...  ...             ...                  ...
490  HINDUNILVR     EQ  ...        1.713704             Positive
491  HINDUNILVR     EQ  ...       -0.518409      Slight negative
492  HINDUNILVR     EQ  ...        0.891218      Slight positive
493  HINDUNILVR     EQ  ...       -0.956713      Slight negative
494  HINDUNILVR     EQ  ...        0.862248      Slight positive

[494 rows x 20 columns]

#1.8

Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.

In [71]:
data.groupby(data.Trend).mean()['Total Traded Quantity'].fillna(0)

Trend
Bear drop              0.000000e+00
Among top losers       3.164947e+06
Negative               1.422626e+06
Slight negative        1.319019e+06
Slight or No change    1.201715e+06
Slight positive        1.234634e+06
Positive               1.405669e+06
Among top gainers      2.613607e+06
Bull run               0.000000e+00
Name: Total Traded Quantity, dtype: float64

In [72]:
data.groupby(data.Trend).median()['Total Traded Quantity'].fillna(0)

Trend
Bear drop                    0.0
Among top losers       1744229.0
Negative               1214795.0
Slight negative        1194276.5
Slight or No change    1063738.5
Slight positive        1133172.5
Positive               1374834.0
Among top gainers      2367385.0
Bull run                     0.0
Name: Total Traded Quantity, dtype: float64

#1.9

SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [73]:
data.to_csv('Module_1_Solutions.csv')